*.tmp
packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
venv
ansible/roles/db/molecule
.yamllint
Pipfile
ansible4test.json
google_compute_engine
google_compute_engine.pub
input.txt
secrets.tar
